<a href="https://colab.research.google.com/github/Pawan-Chahar/PySaprk_Practices/blob/main/String_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reverse a string

In [ ]:
s = 'pawan'

print(f'reverse : {s[::-1]}')

reverse : nawap

In [ ]:
# method 2

s= input("Enter a string")

r = reversed(s)

print(f'reverse : {str(r)}')

output = ''.join(r)
print(output)

Enter a stringdhurga
reverse : <reversed object at 0x7d832f307ee0>
agruhd

In [ ]:
#Method 3

# s= input("Enter a string")
s= "pawan"

output= " "

i = len(s) - 1

while i >= 0:
    output = output + s[i]
    i = i - 1
print(output)

 nawap

In [ ]:
# Write a programme to reverse order of words
input = "Learning python is very easy"

s= input.split()
print(s)

['Learning', 'python', 'is', 'very', 'easy']

In [ ]:
l1 = s[::-1]
output = ' '.join(l1)

print(output)

easy very is python Learning

In [ ]:
i = len(s) -1

output = ' '

while i>=0 :
    output = output + ' ' + str((s[i]))
    i = i-1
print(output)

  easy very is python Learning

In [ ]:
# Write a programe to reverse Internal content of each word

input = "Durga Software Solutions"

s= input.split()
print(s)

['Durga', 'Software', 'Solutions']

In [ ]:
i = len(s) -1

l1= []

for word in s:
    l1.append(word[::-1])

    output = ' '.join(l1)



print(output)

agruD erawtfoS snoituloS

In [ ]:
# write a programme to revrse internal content of every second word

input = 'one two three four five six'

s = input.split()
print(s)

['one', 'two', 'three', 'four', 'five', 'six']

In [ ]:
i=0
l1= []

while i< len(s):

    if i%2==0:
       l1.append(s[i])

    else:
        l1.append(s[i][::-1])
    i = i+1
    output = ' '.join(l1)

print(output)

one owt three ruof five xis

In [ ]:
# Write a program to print character present at even and odd index for given string

s = 'durgasoft'

i= 0
even = ' '
odd = ' '

while i <len(s):
    if i%2==0:
        even+ ''.join(s[i])
        print(f'Even index character: {even+ ' '.join(s[i])}')
    else:
        odd+ ''.join(s[i])
        print(f'Odd index character: {odd+ ' '.join(s[i])}')

    i= i+1

Even index character:  d
Odd index character:  u
Even index character:  r
Odd index character:  g
Even index character:  a
Odd index character:  s
Even index character:  o
Odd index character:  f
Even index character:  t

In [ ]:
#Method 2

# s = 'durgasoft'
s= input('Enter a string : ')
print(f'Even index character: {s[::2]}')

print(f'Odd index character: {s[1::2]}')

Enter a string : durgasoft
Even index character: draot
Odd index character: ugsf

In [ ]:
# Write a program to merge character of 2 string into a single string by taking chaaracter alternatively?

s1= "RAVI"
s2= "TEJA"

# Output: "RTAEVJIA"

i,j = 0,0
output = ' '

while i<len(s1) or j<len(s2):
    output = output + s1[i]+ s2[j]
    i = i+1
    j = j+1

print(output)

 RTAEVJIA

In [ ]:
# index error when both string length is not same

s1= "RAVIKIRAN"
s2= "TEJA"

# Output: "RTAEVJIA"

i,j = 0,0
output = ' '

while i<len(s1) or j<len(s2):
    output = output + s1[i]+ s2[j]
    i = i+1
    j = j+1

print(output)

IndexError: string index out of range

In [ ]:
# Fix the ERROR

s1= 'RAJKUMAR'
s2= 'VERMA RAJESH'

i,j = 0, 0

output = ' '

while i<len(s1) or j<len(s2):
    if i<len(s1):
        output = output + s1[i]
        i=i+1
    if j<len(s2):
        output = output + s2[j]
        j = j+1

print(output)

 RVAEJRKMUAM ARRAJESH

In [ ]:
# Assume input string contain only alphabate symbols and digits \
# write a program to sort character of the string first alphabate symbole followed by digits ?
# Input : B4A1D3
# Output : ABD134

s= 'B4A1D3'

res = sorted(s)
print(''.join(res))

134ABD

In [ ]:
# s= 'B4A1D3' , A7Y9S2Z4B7J6

s= input('Enter a alphanumeric string to sort : ')

alphabate = []
digit = []

for ch in s:
    if ch.isalpha():
        alphabate.append(ch)
    else:
        digit.append(ch)

print(alphabate)

print(digit)

print(''.join(sorted(alphabate))+ ''.join(sorted(digit)))

Enter a alphanumeric string to sort : PA12W4C03Rs289QRG
['P', 'A', 'W', 'C', 'R', 's', 'Q', 'R', 'G']
['1', '2', '4', '0', '3', '2', '8', '9']
ACGPQRRWs01223489

In [ ]:
#  Write a Programme for the following requiremetns?
# Input: a4b3c2
# Output: aaaabbbcc

s= 'a4b3c2'

output = ''

for ch in s:
    if ch.isalpha():
        x= ch
    else:
        output = output + x*int(ch)

print(output)

aaaabbbcc

In [ ]:
#  Write a Programme for the following requiremetns?
# Input: aaaabbbccz
# Output: 4a3b2c1z

s= 'aaaabbbccz'

output= ''
previous = s[0]

c= 1
i=1
while i< len(s):
    if s[i] == previous :
        c= c+1
    else:
        output = output + str(c) +previous
        previous = s[i]
        c=1

    if i == len(s)-1:
        output = output + str(c) +previous

    i=i+1


print(output)

4a3b2c1z

In [ ]:
# s= 'aaaabbbccz'
s = input('Enter a string : ')

output= ''
previous = s[0]

c= 1
i=1
while i< len(s):
    if s[i] == previous :
        c= c+1
    else:
        output = output +previous + str(c)
        previous = s[i]
        c=1

    if i == len(s)-1:
        output = output +previous +  str(c)

    i=i+1


print(output)

Enter a string : qqqqppprrrrrrrrtttttttttssssss
q4p3r8t9s6

In [ ]:
# Write a Programme to remove duplicate character from given string?

s= 'AzzzBzzbbACCDDEEfffA'

l = []

for ch in s.lower():
    if ch not in l:
        l.append(ch)

    output= ''.join(l)
print(output.upper())

AZBCDEF

In [ ]:
# write a programme to following requirements?

s= 'ABAABBCA'

d={}

for ch in s:
    d[ch] = d.get(ch,0)+1

print(d)


output= ''

for k,v in d.items():
    output = output+k+str(v)

print(output)


for k,v in sorted(d.items()):
    output = output+k+str(v)

print(output)

{'A': 4, 'B': 3, 'C': 1}
A4B3C1
A4B3C1A4B3C1

In [ ]:
# Write a programme to count vowel in string ?

s= 'DURGASOFTWARE'

v= {'a', 'e','i','o','u'}
d={}

for ch in s.lower():
    if ch in v:

        d[ch] = d.get(ch,0)+1

print(d)

output =''

for k,v in sorted(d.items()):
    output = output+ k+ str(v)
    print('{} occurs {} times'.format(k,v))

print(output)

{'u': 1, 'a': 2, 'o': 1, 'e': 1}
a occurs 2 times
e occurs 1 times
o occurs 1 times
u occurs 1 times
a2e1o1u1

In [ ]:
 Write code to print the duplicate numbers in an array using collections.
Ans. This code identifies and prints duplicate numbers in an array using a collection framework.
Use a HashSet to track seen numbers and a List to store duplicates.

Iterate through the array and check if the number is already in the HashSet.

If it is, add it to the List of duplicates; if not, add it to the HashSet.

Example: For array [1, 2, 3, 2, 4, 3], the output will be [2, 3].

In [ ]:
python question to find the valid ip address

Python : Decorators and Genrator SQL : No SQL question AWS : s3 versioning and time travel
aws servises which you have been used and experience to use them
Write procedure with window function, exceprion handling, insert into, based on input - so a complex task
Reparation vs coalesce, lakehouse architecture, spark internals

1) Difference Between OLAP and OLTP, Normalization and DeNor, Union and UnionAll, 2) SCD Types
3) ETL PIP line; We will get the data from Source CSV as Table data But we Need a Destination in CSV, No data loading In SQL Server . which transformation do you use?
4) How Will You do Optimization in SQL Querry and StoreProcedure.

explain executor and driver out of memory situtations in spark

what is spark lazy evolution?

How S3 works behind the hood

spark internal architecture optimization technique and python data structures



Q: What is a Docker image?

Answer question
Question 2

Q: Cloud benefits, shared responsibility?

Answer question
Question 3

Q: What is lazy evaluation in Spark?

Answer question
Question 4

Q: How do you use Clean Code in your daily life?

Answer question
Question 5

Q: How would you unit test your code?

Answer question
Question 6

Q: Tell me about SQL optimalization

Answer question
Question 7

Q: What is supervised and unsupervised learning?

Answer question
Question 8

Q: Difference between Regression vs Classification?

SyntaxError: unmatched ')' (ipython-input-921849594.py, line 8)

In [ ]:
Certainly:

1. Write a Python code to print the factorial of any number, n.
(Factorial of n. n!=n∗(n−1)∗(n−2)∗.....2∗1)

Solution:
def factorial(n):
 if n < 0:
 return "Factorial is not defined for negative numbers."
 elif n == 0 or n == 1:
 return 1
 else:
 answer = 1
 for i in range(1, n + 1):
 answer *= i   # answer = answer*i
 return answer

# Example usage:
try:
 n = int(input("Enter a number to calculate its factorial: "))
 print(f"The factorial of {n} is {factorial(n)}.")
except ValueError:
 print("Please enter a valid integer.")

follow up question.

Sure, here's a rephrased version:

2. Create a program in Python to output the number of trailing zeros in the factorial of a given number, n.

example 5! = 120 and trailing zero is 1. Like wise for 9! = 362880 and trailing zero is 1.

def trailing_zeroes_in_factorial(n):
 # Initialize the count of trailing zeroes
 count = 0

 # Initialize the current power of 5
 power_of_5 = 5

 # Loop to count the number of multiples of 5, 25, 125, etc. in n
 while n >= power_of_5:
 # Add the number of multiples of the current power of 5 to the count
 count += n // power_of_5

 # Move to the next power of 5 (i.e., 5, 25, 125, ...)
 power_of_5 *= 5

 # Return the total count of trailing zeroes
 return count

# Example usage:
# Take input from the user for which factorial trailing zeroes need to be found
n = int(input("Enter a number to find the number of trailing zeroes in its factorial: "))

# Print the result by calling the function and formatting the output
print(f"The number of trailing zeroes in {n}! is {trailing_zeroes_in_factorial(n)}.")

Certainly! Here's a rephrased version:

Note: During interviews, providing the function alone without input parameters is sufficient. However, for the post and for better understanding I have included the input parameters.

SyntaxError: invalid character '∗' (U+2217) (ipython-input-2469478039.py, line 4)

# Python Pattern Programme

In [ ]:
i = 0

while i<= 9:
    print(i*str('* '))
    i=i+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
i = 9

while i >0:
    print(i*str('* '))
    i=i-1

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = int(input("Enter a number : "))

i = 0

while i<= n:
    print(i*str('* '))
    i=i+1

i = n-1

while i >0:
    print(i*str('* '))
    i=i-1

Enter a number : 9

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 8
for i in range(n):
    for j in range(i, n):
        print('*' , end='')
    print()

********
*******
******
*****
****
***
**
*

In [ ]:
n = 8
for i in range(n):
    for j in range(i):
        print('*' , end='')
    print()

*
**
***
****
*****
******
*******

In [ ]:
n = 8
for i in range(n):
    for j in range(i,n):
        print('', end='')

    for j in range(i):
        print('*' , end='')

    for j in range(i+1):
        print('*' , end='')
    print()

*
***
*****
*******
*********
***********
*************
***************

In [ ]:
n= int(input('Enter n Value '))

for i in range(n):
    print('*')

Enter n Value 5
*
*
*
*
*

In [ ]:
n= int(input('Enter n Value '))

for i in range(n):
    print('*', end=' ')

Enter n Value 5
* * * * *

In [ ]:
n=5
for i in range(n):
    print('* '*n)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=5
for i in range(n):
    print((str(n)+' ')*n)

5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [ ]:
n=5
for i in range(n):
    print((str(i+1)+ ' ')*n)

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
n=7
for i in range(n):
    print((str(i+1)+ ' ')*n)

1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5 5
6 6 6 6 6 6 6
7 7 7 7 7 7 7

In [ ]:
n=5
for i in range(n):
    print(('A ')*n)

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [ ]:
n=7
for i in range(n):
    print((chr(65+i)+ ' ')*(i+1))

A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G

In [ ]:
n=7
for i in range(n):
    print(('* ')*(i+1))

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
n=7
for i in range(n):
    print(('* ')*(n-i))

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=7
for i in range(n):
    print(('* ')*(i+1-1))
for i in range(n):
    print(('* ')*(n-i))

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=7
for i in range(n):
    print((chr(64+n-i)+ ' ')*(n-i))

G G G G G G G
F F F F F F
E E E E E
D D D D
C C C
B B
A

In [ ]:
n= 7
for i in range(1,n+1):
    for j in range(1,n-i+2):
        print(j , end=' ')
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
n= 7

for i in range(n):
    for j in range(n-i):
        print(j+1 , end=' ')
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
n=16

for i in range(n):
   #first print space

#    print(' '*(n-i-1)+ (' '.join(str(i+1)*(i+1))))
    print(' '*(n-i-1)+ ((('*' + ' ' )*(i+1))))
        # print((i+1) *(i+1) , end=' ')

print()

               *
              * *
             * * *
            * * * *
           * * * * *
          * * * * * *
         * * * * * * *
        * * * * * * * *
       * * * * * * * * *
      * * * * * * * * * *
     * * * * * * * * * * *
    * * * * * * * * * * * *
   * * * * * * * * * * * * *
  * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *

In [ ]:
n=5

for i in range(n):
   #first print space

#    print(' '*(n-i-1)+ (' '.join(str(i+1)*(i+1))))
    print(' '*(n-i-1)+ (((str(i+1) + ' ' )*(i+1))))
        # print((i+1) *(i+1) , end=' ')

print()

   1
  2 2
 3 3 3
4 4 4 4

In [ ]:
n=7

for i in range(n):
   #first print space no of space (n-i-1)

#    print(' '*(n-i-1)+ (' '.join(str(i+1)*(i+1))))
    print(' '*(n-i-1)+ (((str(i+1) + ' ' )*(i+1))))
        # print((i+1) *(i+1) , end=' ')

print()

      1
     2 2
    3 3 3
   4 4 4 4
  5 5 5 5 5
 6 6 6 6 6 6
7 7 7 7 7 7 7

In [ ]:
n=8
for i in range(n):
    print(' '*(n-i-1) + (chr(64+i+1)+ ' ')*(i+1), end=' ')

    # for j in range(i+1):
    #     print(chr(64+n-j), end=' ')

    print()

       A
      B B
     C C C
    D D D D
   E E E E E
  F F F F F F
 G G G G G G G
H H H H H H H H

In [ ]:
n=8

for i in range(n):
    print(' '*(i-1) + (chr(64+n-i)+ ' ')*(n-i), end=' ')

    # for j in range(i+1):
    #     print(chr(64+n-j), end=' ')

    print()

H H H H H H H H
G G G G G G G
 F F F F F F
  E E E E E
   D D D D
    C C C
     B B
      A

In [ ]:
n=8
for i in range(n):
    print(' '*(n-i-1) + (chr(64+i+1)+ ' ')*(i+1), end=' ')

    # for j in range(i+1):
    #     print(chr(64+n-j), end=' ')

    print()

n=7

for i in range(n):
    print(' '*(i+1) + (chr(64+n-i)+ ' ')*(n-i), end=' ')

    # for j in range(i+1):
    #     print(chr(64+n-j), end=' ')

    print()

       A
      B B
     C C C
    D D D D
   E E E E E
  F F F F F F
 G G G G G G G
H H H H H H H H
 G G G G G G G
  F F F F F F
   E E E E E
    D D D D
     C C C
      B B
       A

In [ ]:
n= int(input('Enter the number'))
for i in range(n):
    print(' '*(n-i-1) + ('*'+ ' ')*(i+1), end=' ')

    # for j in range(i+1):
    #     print(chr(64+n-j), end=' ')

    print()

n= n-1

for i in range(n):
    print(' '*(i+1) + ('*'+ ' ')*(n-i), end=' ')

    # for j in range(i+1):
    #     print(chr(64+n-j), end=' ')

    print()

Enter the number8
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [ ]:
n=9
for i in range(n):
    print(' '*(n-i-1) , end=' ')

    for j in range(i+1):
        print(chr(64+n-j), end=' ')

    print()

         I
        I H
       I H G
      I H G F
     I H G F E
    I H G F E D
   I H G F E D C
  I H G F E D C B
 I H G F E D C B A

In [ ]:
n=8
for i in range(n):
    print(' '*(n-i-1) + (chr(64+i+1)+ ' ')*(i+1), end=' ')

    # for j in range(i+1):
    #     print(chr(64+n-j), end=' ')

    print()

       A
      B B
     C C C
    D D D D
   E E E E E
  F F F F F F
 G G G G G G G
H H H H H H H H

In [ ]:
n= 4

for i in range(n):
    print(' '*(n-i-1)+ (str(i+1)+ ' ')*(i+1), end=' ')
    print()

   1
  2 2
 3 3 3
4 4 4 4

In [ ]:
n= 4

for i in range(n):
    print(' '*(i+1) + (str(n-i) +' ')*(n-i) , end=' ')

    print()

 4 4 4 4
  3 3 3
   2 2
    1

In [ ]:
n= 6

for i in range(n):
    print(' '*(i), end='')
    for j in range(n-i):
        print(chr(65+j), end=' ')
    print()

A B C D E F
 A B C D E
  A B C D
   A B C
    A B
     A

In [ ]:
n= 6

for i in range(n):
    print(' '*(i), end='')
    for j in range(n-i):
        print(chr(65+j), end=' ')
    print()

for i in range(n):
    print(' '*(n-i-1) , end=' ')
    for j in range(i+1):
        print(chr(65+j) , end=' ')
    print()

A B C D E F
 A B C D E
  A B C D
   A B C
    A B
     A
      A
     A B
    A B C
   A B C D
  A B C D E
 A B C D E F

In [ ]:

n=7

for i in range(n):
    print(' '*(n-i-1)+ str('* ')*(i+1) , end=' ')
    print()

for i in range(n-1):
    print(' '* (i+1) + '* '*(n-i-1) , end=' ')
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
n=4

for i in range(n):
    print('* '*(i+1) , end = ' ')
    print()

for j in range(n):
    print('* '*(n-j-1) , end= ' ')
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
n=9

for i in range(n):
    print('* '*(i+1) , end = ' ')
    print()

for j in range(n):
    print('* '*(n-j-1) , end= ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=4

for i in range(n):
    print('  '*(n-i-1) + '* '*(i+1) , end= '')
    print()
for i in range(n-1):
    print('  '*(i+1) + '* '*(n-i-1), end=' ')
    print()

      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [ ]:
n=4

for i in range(n):
    print('* '*(i+1) , end = ' ')
    print()



for j in range(n):
    print('* '*(n-j-1) , end= ' ')
    print()

for i in range(n):
    print('  '*(n-i-1) + '* '*(i+1) , end= '')
    print()

for i in range(n-1):
    print('  '*(i+1) + '* '*(n-i-1), end=' ')
    print()

*
* *
* * *
* * * *
* * *
* *
*

      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [ ]:
n= 9

for i in range(n):
    print('  '*(n-i-1)+ '*' , end=' ')
    if i>=1:
        print('  '*(2*i-1)+ '*' , end=' ')

    print()

                *
              *   *
            *       *
          *           *
        *               *
      *                   *
    *                       *
  *                           *
*                               *

In [ ]:
n= 9

for i in range(n):
    print('  '*i + '*' , end=' ')

    if i != n-1:
        print('  '*(2*n-2*i-3) + '*' , end=' ')

    print()

*                               *
  *                           *
    *                       *
      *                   *
        *               *
          *           *
            *       *
              *   *
                *

In [ ]:
n= 9

for i in range(n):
    print('  '*(n-i-1)+ '*' , end=' ')
    if i>=1:
        print('  '*(2*i-1)+ '*' , end=' ')

    print()

for i in range(n-1):
    print('  '*i + '*' , end=' ')

    if i != n-1:
        print('  '*(2*n-2*i-3) + '*' , end=' ')



    print()

                *
              *   *
            *       *
          *           *
        *               *
      *                   *
    *                       *
  *                           *
*                               *
*                               *
  *                           *
    *                       *
      *                   *
        *               *
          *           *
            *       *
              *   *

In [ ]:
n= 9

for i in range(n):
    print('  '*i + chr(64+i+1) , end=' ')

    if i != n-1:
        print('  '*(2*n-2*i-3) + chr(64+i+1) , end=' ')

    print()

A                               A
  B                           B
    C                       C
      D                   D
        E               E
          F           F
            G       G
              H   H
                I

In [ ]:
n= 9

for i in range(n):
    print('  '*(n-i-1)+ chr(64+i+1), end=' ')
    if i>=1:
        print('  '*(2*i-1)+ chr(64+i+1), end=' ')

    print()

                A
              B   B
            C       C
          D           D
        E               E
      F                   F
    G                       G
  H                           H
I                               I

In [ ]:
n=4

for i in range(n):
    print('  '*(n-i-1) , end='')

    for j in range(i+1):
        print(j+1, end=' ' )

    print()

      1
    1 2
  1 2 3
1 2 3 4

In [ ]:
n=4

for i in range(n):
    print('  '*(i+1) , end='')

    for j in range(n-i):
        print(j+1, end=' ' )

    print()

  1 2 3 4
    1 2 3
      1 2
        1

In [ ]:
n=9

for i in range(n):
    print('  '*(n-i-1) , end='')

    for j in range(i+1):
        print(j+1, end=' ' )

    print()

for i in range(n):
    print('  '*(i+1) , end='')

    for j in range(n-i-1):
        print(j+1, end=' ' )

    print()

                1
              1 2
            1 2 3
          1 2 3 4
        1 2 3 4 5
      1 2 3 4 5 6
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7 8
    1 2 3 4 5 6 7
      1 2 3 4 5 6
        1 2 3 4 5
          1 2 3 4
            1 2 3
              1 2
                1

In [ ]:
n= 9

for i in range(n):
    for j in range(i+1):
        print(j+1 , end= ' ')

    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [ ]:
n= 9

for i in range(n):
    for j in range(n-i):
        print(j+1 , end= ' ')

    print()

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
n= 9

for i in range(n):
    for j in range(i+1):
        print(j+1 , end= ' ')

    print()


for i in range(n):
    for j in range(n-i-1):
        print(j+1 , end= ' ')

    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
n= 4

for i in range(n):
    print('*'  )
    if i == n-1 :
        print('* '*n , end=' ')

for i in range(n-1):
    if i < n-1:
        print(' '*4 + '*')

*
*
*
*
* * * *      *
    *
    *

In [ ]:
s= 'Hello World'

#output :

lst = s.split()
print(lst)

for word in words:
    i = len(word)
    while i >=0:
        print(word[i] , end= ' ')
        i -=1

    print(end = ' ')

['Hello', 'World']

NameError: name 'words' is not defined

In [ ]:

word = 'learning'
vowels = 'aeiou'

c=0
index =0

while index  < len(word):
    if word[index].lower() not in vowels and word[index].isalpha():
        c +=1
    index +=1

print(c)

5

In [ ]:
# Write a program to print the first 5 multiples of 3
# Print the First 5 Multiple of 3

multiple = 5
count = 1

while count<=15:
    print(count*multiple , end=' ')

    # multiple += 3
    count +=1

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75

In [ ]:
base = int(input('Enter the value base : '))

exponent = int(input('Enter the power of base value : '))

def power_Num(base,exponent):
    base = int(input('Enter the value base : '))

    exponent = int(input('Enter the power of base value : '))

    return base**exponent


print(base**exponent)

Enter the value base : 3
Enter the power of base value : 4
81

In [ ]:
def power_Num(base,exponent):
    # base = int(input('Enter the value base : '))

    # exponent = int(input('Enter the power of base value : '))

    return base**exponent

In [ ]:
power_Num(3,4)

81

In [ ]:
# Check if Number is a Perfect square
# Write a Program to check if a given number , such as 16 is a perfect square.

num = int(input('Enter the value base : '))

i=1

is_perfect_square = False

while i*i <= num:
    if i*i == num:
        is_perfect_square = True
        break
    i +=1

if is_perfect_square:
    print(f"{num} is a perfect square")

else:
    print(f'{num} is not a perfect square')

Enter the value base : 36
36 is a perfect square

In [ ]:
s = input('Enter a string =')
char_to_count = input('Enter a character to count = ')

count = 0
index = 0

while index < len(s):
    if s[index] == char_to_count:
        c +=1
    i +=1

print(f"{char_to_count} + {count}")

Enter a string =sucess
Enter a character to count = s

KeyboardInterrupt:

In [ ]:
# Print Numbers from 1 to 5
# Write a program to print numbers from 1 to 5 using a for loop.
# Expected Output : 1 2 3 4 5
n=5

for i in range(n):
    print(i+1 , end=' ')

1 2 3 4 5

In [ ]:
from IPython.core.interactiveshell import available_events
healthy_foods = {'apple', 'carrot'}

available_foods = {'apple' , 'egg' , 'pizza','carrot'}

is_subset = True

for food in healthy_foods:
    if food not in available_foods:
        is_subset = False
        break

is_subset

True

In [ ]:
is_subset = healthy_foods <= available_foods

is_subset

True

In [ ]:
# Write a programe to print the square of numbers from 1 to 5

for i in range(5):
    print((i+1)**2 , end=' ')

1 4 9 16 25

In [ ]:
# Write a programme to find even and odd number in given range

even = []
odd = []

for i in range(1,10):
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)

print(f'Even number :  {even}')

print(f'Odd number : {odd}')

Even number :  [2, 4, 6, 8]
Odd number : [1, 3, 5, 7, 9]

In [ ]:
# Write a programee to calulate sum of numbers from 1 to 10

i=1
sum = 0
for i in range(21):

    sum = sum+ i


print(sum)

210

In [ ]:

n= 20
i=1
sum = 0
while i <= n:

    sum += i
    i += 1


print(sum)

210

In [ ]:
s= 'Python'

i=0

for i in range(len(s)-1 , -1,-1):
    print(s[i] , end='')

nohtyP

In [ ]:
s= 'education'
vowl = 'aeiou'
c=0

for i in s:
    if i.lower() in vowl:

        c +=1

print(c)

5

In [ ]:
s= 'sucess'
vowl = 's'
c=0

for i in s:
    if i.lower() in vowl:

        c +=1

print(c)

3

In [ ]:
# Write a Programm to print the first 10 terms of fibonacci series


def fib(n):
    if (n == 0):
        return 0
    if (n == 0) or  (n == 1):
        return 1
    else:

        return (fib(n-1)+fib(n-2))

In [ ]:
n=12
for i in range(0,n):
    print(fib(i) , end=' ')

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
a=0
b=1

for _ in range(10):
    next_term = a+b
    print(next_term , end=' ')
    a,b = b, next_term

1 2 3 5 8 13 21 34 55 89

In [ ]:

def fact(n):
    if (n == 0):
        return 1
    else:
        return (n*fact(n-1))

In [ ]:
print(fact(6))

720

In [ ]:
n=5
fact=1

for i in range(1,n+1):
    fact *= i
print(fact)

120

In [ ]:
# Check if given number is prime or not

n = int(input('Enter a number : '))

if n%n == 0 :

Control Flow For While break and Countinue

In [ ]:
s= 'sunny leone'

for i in s:
    print(i , end='')

sunny leone

In [ ]:
s= 'sunny leone'


for i in s:
    print(i , end='')

sunny leone

In [ ]:
n= 10

for i in range(n):
    print(n-i , end= ' ')

10 9 8 7 6 5 4 3 2 1

In [ ]:


for i in range(10,0 , -1):
    print(i , end= ' ')

10 9 8 7 6 5 4 3 2 1

In [ ]:
# To Print the sum of numbers in the given list

lst = eval(input('Enter list of numbers'))


sum = 0

for i in lst:
    sum += i
    print('The sum : ', sum)

Enter list of numbers2,3,5,7
The sum :  2
The sum :  5
The sum :  10
The sum :  17

In [ ]:
i=0

while i<10:
    print('Hello Welcome Pawan! to Vibe Coding world Finally!')

    i +=1

Hello Welcome Pawan! to Vibe Coding world Finally!
Hello Welcome Pawan! to Vibe Coding world Finally!
Hello Welcome Pawan! to Vibe Coding world Finally!
Hello Welcome Pawan! to Vibe Coding world Finally!
Hello Welcome Pawan! to Vibe Coding world Finally!
Hello Welcome Pawan! to Vibe Coding world Finally!
Hello Welcome Pawan! to Vibe Coding world Finally!
Hello Welcome Pawan! to Vibe Coding world Finally!
Hello Welcome Pawan! to Vibe Coding world Finally!
Hello Welcome Pawan! to Vibe Coding world Finally!

In [ ]:
i = 1

while i<=10:
    print(i , end= ' ')
    i +=1

1 2 3 4 5 6 7 8 9 10

In [ ]:
i = 10

while i>=1:
    print(i , end= ' ')
    i -=1

10 9 8 7 6 5 4 3 2 1

In [ ]:
# To print number from 1 to 20 which are divisible by 3

i=1

while i<20:
    if i%3 == 0:
        print(i , end = ' ')

    i +=1

3 6 9 12 15 18

In [ ]:
name = input('Enter the name ')

while name != 'sunny':
    print(f'Enter your favorite actress')
    break

print('Thanks for Confirmation!')

Enter the name Alena
Enter your favorite actress
Thanks for Confirmation!

In [ ]:
import math

math.floor(3.5)

3

In [ ]:
math.floor(-3.5)

-4

In [ ]:
(2+1j) * 3

(6+3j)

In [ ]:
2+1j * 3

(2+3j)

In [ ]:
import random

random.random()

0.13994722056036513

In [ ]:
random.randint(1,10)

10

LIST

In [ ]:
tea_varities = ['Black' , 'Green' , 'White' , 'Lemon']

tea_varities

['Black', 'Green', 'White', 'Lemon']

In [ ]:
print(tea_varities)

['Black', 'Green', 'White', 'Lemon']

In [ ]:
tea_varities[::-1]

['Lemon', 'White', 'Green', 'Black']

In [ ]:
tea_varities[1:2] = 'Lemon'

In [ ]:
tea_varities

['Black', 'Green', 'White', 'Lemon']

In [ ]:
for tea in tea_varities:
    print(tea)

Black
Green
White
Lemon

In [ ]:
for tea in tea_varities:
    print(tea , end='-')

Black-Green-White-Lemon-

In [ ]:
if "Lemon" in tea_varities:
    print('I have Lemon tea.')

I have Lemon tea.

In [ ]:
squared_sum = [x**2 for x in range(10) if x%2 == 0]
squared_sum

[0, 4, 16, 36, 64]

In [ ]:
cube_num = [ x**3 for x in range(10)]
cube_num

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

Dictonary

In [ ]:
chai_types = {"Masala" : 'Spicy' , 'Ginger' : 'Zesty' , 'Green' : 'Mild'}

chai_types

{'Masala': 'Spicy', 'Ginger': 'Zesty', 'Green': 'Mild'}

In [ ]:
chai_types['Ginger']

'Zesty'

In [ ]:
chai_types.keys()

dict_keys(['Masala', 'Ginger', 'Green'])

In [ ]:
chai_types.values()

dict_values(['Spicy', 'Zesty', 'Mild'])

In [ ]:
chai_types.items()

dict_items([('Masala', 'Spicy'), ('Ginger', 'Zesty'), ('Green', 'Mild')])

In [ ]:
chai_types.get('Ginger')

'Zesty'

In [ ]:
chai_types['Green'] = 'Strong'

In [ ]:
chai_types

{'Masala': 'Spicy', 'Ginger': 'Zesty', 'Green': 'Strong'}

In [ ]:
for chai  in chai_types:
    print(chai , chai_types[chai])

Masala Spicy
Ginger Zesty
Green Strong

In [ ]:
for key , value in chai_types.items():
    print(key , value)

Masala Spicy
Ginger Zesty
Green Strong

In [ ]:
print(len(chai_types))

3

In [ ]:
chai_types['Earl Grey'] = 'Citrus'

chai_types

{'Masala': 'Spicy',
 'Ginger': 'Zesty',
 'Green': 'Strong',
 'Earl Grey': 'Citrus'}

In [ ]:
chai_types.pop('Ginger')

'Zesty'

In [ ]:
chai_types.popitem()

('Earl Grey', 'Citrus')

In [ ]:
squared_num = { x:x**2   for x in range(6) if x%2 ==0}

squared_num

{0: 0, 2: 4, 4: 16}

In [ ]:
s = 'aaabbca'

result =""

c=1

for i in range(len(s)):
    if i < len(s)-1 and s[i] == s[i+1]:
        c += 1
    else:
        result = result + str(c)+s[i]
        c = 1
print(result)

3a2b1c1a

In [ ]:
s= 'aaabbcz'

result =""
c=1

for i in range(len(s)):
    if i < len(s) -1 and s[i] == s[i+1]:
        c +=1
    else:
        result = result + str(c)+s[i]
        c=1
print(result)

3a2b1c1z

In [ ]:
#  Write a Programme for the following requiremetns?
# Input: aaaabbbccz
# Output: 4a3b2c1z

s= 'aaaabbbccz'

result =""

c=1

for i in range(len(s)):
    if i < len(s)-1 and s[i] == s[i+1]:
        c += 1
    else:
        result = result + str(c)+s[i]
        c = 1
print(result)

4a3b2c1z

In [ ]:
# Reverse each word in a sentence

s = "hello world"

output = ""

words = s.split()
print(word)


output = " ".join(i[::-1] for i in words)
print(output)

['hello', 'world']
olleh dlrow

In [ ]:
output = ""

for word in words:
    output = output + " " +"".join(word[::-1])
    print(output)

 olleh
 olleh dlrow

In [ ]:
# Find first non-repeating character
s= 'aabbcddde'

for ch in s:
    if s.count(ch) == 1:
        print(ch)
        break

c

In [ ]:
s= 'engineering'


v = "aeiou"

freq = {}

for ch in s:
    if ch in v:
        freq[ch] = freq.get(ch,0) +1

print(freq)

{'e': 3, 'i': 2}

In [ ]:
s1 = "silent"
s2 = "listen"

print(sorted(s1) == sorted(s2))

True

In [ ]:
s = "malayalam"
freq = {}
for ch in s:
    freq[ch] = freq.get(ch, 0) + 1
print(freq)

{'m': 2, 'a': 4, 'l': 2, 'y': 1}

In [ ]:
s= "success"

freq= {}

for ch in s:
    freq[ch] = freq.get(ch ,0) +1

print(max(freq,key=freq.get))

s

In [ ]:
char, count = max(freq.items(), key=lambda x: x[1])
print(char, count)

s 3

In [ ]:
s= "suresh"

rev = ""

for ch in s:
    rev = ch+rev
print(rev)

output = ''
i= len(s) -1
while i >= 0:
    output = output +s[i]
    i = i-1
print(output)

hserus
hserus

In [ ]:
s = 'radar'

result = ""
i = len(s)-1

while i >= 0:
    result += s[i]
    i = i-1

    if s == result:
        print("True")
print(result)

True
radar

In [ ]:
s= 'pawan'

result= ''
i = len(s)-1

while i>=0:
    result += s[i]
    i -= 1

print(result)

nawap

# While loop

In [ ]:
# Write a programme to print number 10 to 15

i = 10
while i <16:
    print(i , end=' ')
    i +=1

10 11 12 13 14 15

In [ ]:
i = 1

while i <= 5:
    print(i**3 , end=' ')
    i +=1

1 8 27 64 125

In [ ]:
# Print odd numbers from 1 to 10

num = 1

while num <= 10:
    if num%2 != 0:
        print(num , end=' ')

    num +=1

1 3 5 7 9

In [ ]:

output = 1
i = 1

while i <= 5:
    output *= i
    print(output)

    i +=1
print(output)

1
2
6
24
120
120

In [ ]:
s = "Hello World"

words = s.split()

# i = len(words) -1

for word in words:
    print(word[::-1] , end = ' ')
    # i -= 1

olleH dlroW

In [ ]:
s = "Hello World"

words = s.split()

for word in words:
    i = len(word) -1

    while i >=0:
        print(word[i], end='')
        i -=1

    print(end= ' ')

olleH dlroW

# Chai and Code Problems

Age Group Categoration

Classify a person age group : Child(<13), Teenager (13-19) , Adult (20-59) , Senior(60+)

In [ ]:
age = int(input("Enter Person's Age in number : "))

if age <=13:
    print('Person is Child')
elif age>=14 and age <=19:
    print('Person is Teenager')
elif age>=20 and age<=59:
    print('Person is Adult')
elif age>=60:
    print('Person is Senior')

Enter Person's Age in number : 60
Person is Senior

Movie Ticket Pricing

Problem: Movie tickets are priced based on age: $12 for adults (18 and over), $8 for children. Everyone gets a $2 discount on Wednesday.

In [ ]:

if  age >=18:
    price= 12
else:
    price= 8

In [ ]:
age = 22
day = 'Wednesday'

price = 12 if age>=18 else 8

if day == 'Wednesday':
    price -= 2

print('Ticket Price for you is $', price)

Ticket Price for you is $ 10

Grade Calculator

Problem: Assign a letter grade based on a student score : A(90-100) , B(80-90) , C(70-79) , D(60-69) , F(below 60)

In [ ]:
# num = int(input('Enter marks of student : '))

# if num>=101:
#     print('Enter a valid Grade Marks')
#     exit()

def gradeCaluclator(num):
        if num>=90:
            print('Grade : A')
        elif num>=80:
            print('Grade : B')
        elif num>=70:
            print('Grade : C')
        elif num>=60:
            print('Grade : D')
        else:
            print('Grade : F')

In [ ]:
gradeCaluclator(89)

Grade : B

Fruit Ripeness Checker

Problem: Determine if a fruit is ripe, overripe, or unripe based on its color. (e.g., Banana: Green - Unripe, Yellow - Ripe, Brown - Overripe)

In [ ]:
fruit = 'Banana'
fruit_color='Yellow'

if fruit == 'Banana':
    if fruit_color == 'Green':
        print('Unripe')
    elif fruit_color == 'Yellow':
        print('Ripe')
    elif fruit_color == 'Brown':
        print('Overripe')

Ripe

Weather Activity Suggestion

Problem: Suggest an activity based on the weather (e.g., Sunny - Go for a walk, Rainy - Read a book, Snowy - Build a snowman).

In [ ]:

weather= 'Sunny'

if weather == 'Sunny':
    activity= 'Go for a walk'
elif weather == 'Rainy':
    activity= 'Read a book'
elif weather == 'Snowy':
    activity= 'Build a snowman'

print(activity)

Go for a walk

Transportation Mode Selection

Problem: Choose a mode of transportation based on the distance (e.g., <3 km: Walk, 3-15 km: Bike, >15 km: Car).

In [ ]:
travel_distance = int(input('Enter a travel distance in Km :'))

if travel_distance < 3:
    transportationMode= 'Walk'
elif travel_distance < 15:
    transportationMode= 'Bike'
elif travel_distance > 15:
    transportationMode= 'Car'

print(transportationMode)

Enter a travel distance in Km :5
Bike

Coffee Customization

Problem: Customize a coffee order: "Small", "Medium", or "Large" with an option for "Extra shot" of espresso.

In [ ]:
order_size = 'Medium'
extra_shot = True

if extra_shot:
    coffee = order_size + '  coffee with an extra shot'
else:
    coffee = order_size + 'coffee'

print('Order: ' , coffee)

Order:  Medium  coffee with an extra shot

Password Strength Checker

Problem: Check if a password is "Weak", "Medium", or "Strong". Criteria: < 6 chars (Weak), 6-10 chars (Medium), >10 chars (Strong).

In [ ]:
password = input('Enter your password :')

if len(password)<6:
    Strength = 'Weak'
elif len(password)<10:
    Strength = 'Medium'
else:
    Strength = 'Strong'

print(Strength)

Enter your password :pawan
Weak

Leap Year Checker

Problem: Determine if a year is a leap year. (Leap years are divisible by 4, but not by 100 unless also divisible by 400).

In [ ]:
year = 2016

if (year %400 ==0 ) or (year %4 ==0 and year % 100 != 0):
    print(year, ' is leap Year')

else:
    print(year ,' is not leap Year')

2016  is leap Year

Pet Food Recommendation

Problem: Recommend a type of pet food based on the pet's species and age. (e.g., Dog: <2 years - Puppy food, Cat: >5 years - Senior cat food).

In [ ]:

species= 'Dog'
age = 1

if species == 'Dog' and age < 2:
    print('Puppy food')
elif species == 'Cat' and age > 5:
    print('Senior cat')

Puppy food

## Loops in Python

1. Counting Positive Numbers


Problem: Given a list of numbers, count how many are positive.
numbers = [1, -2, 3, -4, 5, 6, -7, -8, 9, 10]

In [ ]:
numbers = [1, -2, 3, -4, 5, 6, -7, -8, 9, 10]

c=0
result=[]

for num in numbers:
    if num >0:
        result.append(num)

        c +=1
print(result)
print(c)

[1, 3, 5, 6, 9, 10]
6

2. Sum of Even Numbers


Problem: Calculate the sum of even numbers up to a given number n.

In [ ]:
n= 10

sum=0

mylst =[]
for i in range(n+1):

    if i%2==0:
        mylst.append(i)
        sum += i

print(sum)
print(mylst)

30
[0, 2, 4, 6, 8, 10]

3. Multiplication Table Printer


Problem: Print the multiplication table for a given number up to 10, but skip the fifth iteration.

In [ ]:
number =3

for i in range(1,11):

    if i!=5:
        print(str(number) + ' X ' + str(i) + ' = ' + str(number*i))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [ ]:
number =3

for i in range(1,11):

    if i==5:
        continue

    print(str(number) + ' X ' + str(i) + ' = ' + str(number*i))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

4. Reverse a String

Problem: Reverse a string using a loop.

In [ ]:
s = 'Pawan'

rev = ''
for i in s:
    rev = i +rev

print(rev)

nawaP

In [ ]:
s = 'Pawan'

i = len(s)-1

while i >=0:
    print(s[i] , end='')
    i -=1

nawaP

5. Find the First Non-Repeated Character


Problem: Given a string, find the first non-repeated character.

In [ ]:
s='teeter'


for i in s:
    print(i)
    if s.count(i) == 1:
        print('Char is : ', i)

t
e
e
t
e
r
Char is :  r

In [ ]:
s='teeterababaa'

for i in s:
    print(i)
    if s.count(i) == 1:
        print('Char is : ', i)

t
e
e
t
e
r
Char is :  r
a
b
a
b
a
a

In [ ]:
s='teeterababaa'

for i in s:
    print(i)
    if s.count(i) == 1:
        print('Char is : ', i)
        break

t
e
e
t
e
r
Char is :  r

6. Factorial Calculator


Problem: Compute the factorial of a number using a while loop.

In [ ]:
n=6
fact =1


for i in range(1,n+1):
    fact *=i
print(fact)

720

In [ ]:
n= 6
fact = 1
i=1

while i <(n+1):
    fact = fact*i
    i += 1

print(fact)

720

The error you're seeing:

TypeError: '<' not supported between instances of 'str' and 'int'

occurs because the variable i is currently a string ('str'), but you're trying to compare it with an integer (5) using <.In your code, you initialized n = 5 and fact = 1, but you never initialized the loop variable i. When the loop starts, Python is using some previous value of i that happens to be a string — likely from earlier code you ran in the same session.

In [ ]:
def fact(n):
    if (n==0):
        return 1
    else:
        return (n*fact(n-1))

In [ ]:
fact(6)

720

In [ ]:
def sum(n):
    if (n==0):
        return 0
    else:
        return (n + sum(n-1))

In [ ]:
sum(5)

15

7. Validate Input

Problem: Keep asking the user for input until they enter a number between 1 and 10.

In [ ]:
while True:
    num =int(input('Enter a number between 1 to 10 : '))
    if num >=1 and num<=10:
        print(num)
        break
    else:
        print('TRy again between 1 and 10')

Enter a number between 1 to 10 : 12
TRy again between 1 and 10
Enter a number between 1 to 10 : 23
TRy again between 1 and 10
Enter a number between 1 to 10 : 45
TRy again between 1 and 10
Enter a number between 1 to 10 : 9
9

8. Prime Number Checker


Problem: Check if a number is prime.

In [ ]:
number = 28

is_prime = True

if number >1:
    for i in range(2, number):
        if (number %i ) ==0:
            is_prime = False
            break

print(is_prime)

False

9. List Uniqueness Checker


Problem: Check if all elements in a list are unique. If a duplicate is found, exit the loop and print the duplicate.
items = ["apple", "banana", "orange", "apple", "mango"]

In [ ]:
from enum import unique
items = ["apple", "banana", "orange", "apple", "mango"]


unique_item = set()

for item in items:
    if item in unique_item:
        print('duplicate item in bucket')
        break
    unique_item.add(item)
print(unique_item)

duplicate item in bucket
{'apple', 'orange', 'banana'}

10. Exponential Backoff


Problem: Implement an exponential backoff strategy that doubles the wait time between retries, starting from 1 second, but stops after 5 retries.

In [ ]:
import time

wait_time = 1
max_retries =5
attempts =0

while attempts < max_retries:
    print("Attempt" , attempts +1 , "- wait time" , wait_time,)
    time.sleep(wait_time)
    wait_time *=2
    attempts += 1

Attempt 1 - wait time 1
Attempt 2 - wait time 2
Attempt 3 - wait time 4
Attempt 4 - wait time 8
Attempt 5 - wait time 16

**Learn all about functions by answering the questions below.**

1. Basic Function Syntax


Problem: Write a function to calculate and return the square of a number.

In [ ]:
def square_num(n):
    return n**2


square_num(3)

9

In [ ]:
square_num(60)

3600

2. Function with Multiple Parameters


Problem: Create a function that takes two numbers as parameters and returns their sum.

In [ ]:

def sum(a,b):
    return a+b

In [ ]:
sum(13,34)

47

3. Polymorphism in Functions


Problem: Write a function multiply that multiplies two numbers, but can also accept and multiply strings.

In [ ]:
def multiplies(a,b):
    return a*b

In [ ]:
multiplies('pawan',2)

'pawanpawan'

In [ ]:
multiplies(2,'pa')

'papa'

4. Function Returning Multiple Values

Problem: Create a function that returns both the area and circumference of a circle given its radius.

In [ ]:
import math

def calculate_circle(radius):
    area = round(math.pi*(radius**2),2)
    circumference = round(2*math.pi*radius ,2)
    return area , circumference

In [ ]:
calculate_circle(7)

(153.94, 43.98)

5. Default Parameter Value


Problem: Write a function that greets a user. If no name is provided, it should greet with a default name.

In [ ]:
def greet_user(name='user'):

    return f"Hello Welcome! {name}"

In [ ]:
greet_user()

'Hello Welcome! user'

In [ ]:
greet_user('pawan')

'Hello Welcome! pawan'

6. Lambda Function


Problem: Create a lambda function to compute the cube of a number.

In [ ]:
def cube_num(n):

    return lambda n : n**3

In [ ]:

cube = lambda x:x**3
print(cube(4))

64

7. Function with *args


Problem: Write a function that takes variable number of arguments and returns their sum.

In [ ]:


import builtins

In [ ]:
def sum_all(*args):
    return builtins.sum(args)

In [ ]:
print(sum_all(1,2,3))
print(sum_all(1,2,3,4,5,6))
print(sum_all(1,2,3,4,5,6,7,8,9))

6
21
45

In [ ]:
# iterate args

def sum_all(*args):
    print(args)

    for i in args:
        print(i*2)

In [ ]:
print(sum_all(1,2,3))

(1, 2, 3)
2
4
6
None

8. Function with **kwargs


Problem: Create a function that accepts any number of keyword arguments and prints them in the format key: value.

In [ ]:
def print_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} : {value}")

In [ ]:
print_kwargs(name='shaktimaan' , power='lazer')

print_kwargs(name='shaktimaan')

print_kwargs(name='shaktimaan' , power='lazer' , enmey='Dr. Jackel')

name : shaktimaan
power : lazer
name : shaktimaan
name : shaktimaan
power : lazer
enmey : Dr. Jackel

9. Generator Function with yield

Problem: Write a generator function that yields even numbers up to a specified limit.

In [ ]:
def even_generator(limit):

    for i in range(2, limit+1 , 2):
        yield i

In [ ]:
print(even_generator(10))

<generator object even_generator at 0x7a12eee2b5a0>

In [ ]:

for num in even_generator(10):
    print(num)

2
4
6
8
10

10. Recursive Function


Problem: Create a recursive function to calculate the factorial of a number.

In [ ]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)

In [ ]:
fact(5)

120

In [ ]:
 1 2 3 4 5

In [ ]:
24*5

120

In [ ]:

for i in range(1,6):
    i = i*(i+1)
    print(i)

2
6
12
20
30

In [ ]:
def sum_n(n):
    if n==0:
        return 0
    else:
        return n+sum_n(n-1)

In [ ]:
sum_n(20)

210

Closure and Scope

In [ ]:
username= 'chaicode'

def func():
    username = "chai"
    print(username)


print(username)
func()

chaicode
chai

In [ ]:
username= 'chaicode'

def func():
    # username = "chai"
    print(username)


print(username)
func()

chaicode
chaicode

In [ ]:
x= 99

def func2(y):
    z = x+y
    return z

result = func2(1)

print(result)

100

In [ ]:
def func3():
    global x
    x = 12

# print(x)

In [ ]:
func3()

In [ ]:
x=99

def f1():

    x =88
    def f2():
        print(x)
    f2()
f1()

88

In [ ]:
x=99

def f1():

    # x =88
    def f2():
        print(x)
    f2()
f1()

99

In [ ]:
x=99

def f1():

    x =88
    def f2():
        x= 77
        print(x)
    f2()
f1()

77

In [ ]:
x=99

def f1():

    x =88
    def f2():
        print(x)
        return f2

In [ ]:
f1()

In [ ]:
myresult = f1()
myresult()

TypeError: 'NoneType' object is not callable

In [ ]:
def chaicoder(num):
    def actual(x):
        return x ** num
    return actual

In [ ]:
f = chaicoder(2)

In [ ]:
f(3)

9

Decoraters

# Timeing Function Execution
# Write a decorator that measures the time a fucntion takes to execute

In [ ]:
import time

def timer(func):
    def wrapper(*args, **kwargs):
        func(*args , **kwargs)

Debugging Functions calls

Cache Return Values

OOPS

In [1]:
class Car:


    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

In [2]:
my_car = Car("Toyota" , "Corolla")
print(my_car.brand)

Toyota

Add a method in Class

In [7]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def full_name(self):
        return f"{self.brand} {self.model}"

In [8]:

my_car = Car("Toyota" , "Corolla")
print(my_car.full_name())

Toyota Corolla

***Inheritance***

In [10]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def full_name(self):
        return f"{self.brand} {self.model}"



class ElectricCar(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size

In [11]:
my_tesla = ElectricCar("Tesla", "Model S", "85kWh")

print(my_tesla.model)

Model S

In [12]:
print(my_tesla.full_name())

Tesla Model S

***Encapsulation***

In [13]:
class Car:
    def __init__(self, brand, model):
        self.__brand = brand
        self.model = model

    def full_name(self):
        return f"{self.__brand} {self.model}"

    def get_brand(self):
        return self.__brand + ' !'



class ElectricCar(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size

In [16]:
my_tesla = ElectricCar("Tesla", "Model S", "85kWh")

print(my_tesla.brand)

AttributeError: 'ElectricCar' object has no attribute 'brand'

In [17]:
print(my_tesla.get_brand())

Tesla !

***Polymerhispm***

In [22]:
class Car:
    def __init__(self, brand, model):
        self.__brand = brand
        self.model = model

    def full_name(self):
        return f"{self.__brand} {self.model}"

    def get_brand(self):
        return self.__brand + ' !'

    def fuel_type(self):
        return "Petrol or Diesel"

class ElectricCar(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size

    def fuel_type(self):
        return "Electric charge"

In [23]:
safari = Car('Tata' ,"Safari")

print(safari.fuel_type())

Petrol or Diesel

In [24]:
my_tesla = ElectricCar("Tesla", "Model S", "85kWh")
print(my_tesla.fuel_type())

Electric charge

Class Variable


Add a class variable to Car that keeps track of the number of cars created

In [25]:
class Car:
    total_car = 0

    def __init__(self, brand, model):
        self.__brand = brand
        self.model = model
        Car.total_car += 1

    def full_name(self):
        return f"{self.__brand} {self.model}"

    def get_brand(self):
        return self.__brand + ' !'

    def fuel_type(self):
        return "Petrol or Diesel"

class ElectricCar(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size

    def fuel_type(self):
        return "Electric charge"

In [26]:
safari = Car('Tata' ,"Safari")

my_tesla = ElectricCar("Tesla", "Model S", "85kWh")

safari3 = Car("Tata" , "Nexon")

In [27]:
print(Car.total_car)

3

Static method

In [28]:
class Car:
    total_car = 0

    def __init__(self, brand, model):
        self.__brand = brand
        self.model = model
        Car.total_car += 1

    def full_name(self):
        return f"{self.__brand} {self.model}"

    def get_brand(self):
        return self.__brand + ' !'

    def fuel_type(self):
        return "Petrol or Diesel"


    @staticmethod
    def general_description():
        return "Cars are means of transport"

class ElectricCar(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size

    def fuel_type(self):
        return "Electric charge"

In [29]:
print(Car.general_description())

Cars are means of transport

Property Decorators

Use a Property Decorater in the Car class to make the model attribute read-only

In [30]:
class Car:
    total_car = 0

    def __init__(self, brand, model):
        self.__brand = brand
        self.__model = model
        Car.total_car += 1

    def full_name(self):
        return f"{self.__brand} {self.__model}"

    def get_brand(self):
        return self.__brand + ' !'

    def fuel_type(self):
        return "Petrol or Diesel"


    @staticmethod
    def general_description():
        return "Cars are means of transport"

    @property
    def model(self):
        return self.__model

class ElectricCar(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size

    def fuel_type(self):
        return "Electric charge"

In [33]:
my_car = Car("Tata" , "Safari")

my_car.model = "City"

Car("Tata" , "Nexon")

print(my_car.model())

TypeError: 'str' object is not callable

In [34]:
print(my_car.model)

City

Class Inheritance and isinstance() Function

Demonstarte the use of isinstance() to check if my_tesla is an instance of Car and ElectricCar

In [35]:
class Car:
    total_car = 0

    def __init__(self, brand, model):
        self.__brand = brand
        self.__model = model
        Car.total_car += 1

    def full_name(self):
        return f"{self.__brand} {self.__model}"

    def get_brand(self):
        return self.__brand + ' !'

    def fuel_type(self):
        return "Petrol or Diesel"


    @staticmethod
    def general_description():
        return "Cars are means of transport"

    @property
    def model(self):
        return self.__model

class ElectricCar(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size

    def fuel_type(self):
        return "Electric charge"

In [37]:
my_tesla = ElectricCar("Tesla", "Model S", "85kWh")

print(isinstance(my_tesla, Car))

print(isinstance(my_tesla, ElectricCar))

True
True

Multiple Inheritance

Create two classes Battery and Engine and let the ElectricCar  class inherit from both , demonstrating multiple inheritance.

In [38]:
class Car:
    total_car = 0

    def __init__(self, brand, model):
        self.__brand = brand
        self.__model = model
        Car.total_car += 1

    def get_brand(self):
        return self.__brand + " !"

    def full_name(self):
        return f"{self.__brand} {self.__model}"

    def fuel_type(self):
        return "Petrol or Diesel"

    @staticmethod
    def general_description():
        return "Cars are means of transport"

    @property
    def model(self):
        return self.__model



class ElectricCar(Car):
    def __init__(self, brand, model, battery_size):
        super().__init__(brand, model)
        self.battery_size = battery_size

    def fuel_type():
        return "Electric charge"

***Multiple Inheritance***

In [39]:
class Battery:
    def battery_info(self):
        return "this is battery"

class Engine:
    def engine_info(self):
        return "This is engine"

class ElectricCarTwo(Battery, Engine, Car):
    pass

my_new_tesla = ElectricCarTwo("Tesla", "Model S")
print(my_new_tesla.engine_info())
print(my_new_tesla.battery_info())

This is engine
this is battery